<h4>First Name: <%= @contact["first_name"] %></h4>
<h4>Last Name: <%= @contact["last_name"] %></h4>
<h4>Middle Name: <%= @contact["middle_name"] %></h4>
<h4>Full Name <%= @contact["formatted"]["full_name"] %></h4>
<h4>Email: <%= @contact["email"] %></h4>
<h4>bio: <%= @contact["bio"] %></h4>
<h4>Phone Number: <%= @contact["formatted"]["japanese_country_code"] %></h4>
<h2>Updated At <%= @contact["formatted"]["friendly_updated_at"] %></h2>

<a href="/client/contacts/<%= @contact['id'] %>/edit">Edit</a>
<a href="/client/contacts/<%= @contact['id'] %>" data-method="delete">Delete</a>
